<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <h1 class="search-title">Search Amazon</h1>
  <div class="form-div">
    <form action="/test" method="get">
      <input type="text" name="item" placeholder="ASIN number">
      <input type="submit" value="Search">
    </form>
  </div>

  <div class="content-div">

    <img src="<%= image %>" />
    <h5 class="product-title"><%= title %></h5>
    <a href="<%= details %>">Details Page</a>

  </div>

</body>
</html>